<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { :multipart => true }) do |f| %>
  <%= devise_error_messages! %>
  <% if @invited_user.present? %>
    <div class="col-sm-6">
      <%= f.label :email %><br/>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", value: @invited_user.email, readonly: true , class: 'form-control'%>
    </div>
  <% end %>

  <div class="col-sm-6">
    <%= f.label :first_name %> <br>
    <%= f.text_field :first_name, value: @invited_user ? @invited_user.first_name : '', class: 'form-control' %>
  </div>
  <div class="col-sm-6">
    <%= f.label :last_name %> <br>
    <%= f.text_field :last_name, value: @invited_user ? @invited_user.last_name : '', class: 'form-control' %>
  </div>

  <div class="col-sm-6">
    <%= f.label :password %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br/>
    <%= f.password_field :password, autocomplete: "off" , class: 'form-control'%>
  </div>

  <div class="col-sm-6">
    <%= f.label :password_confirmation %><br/>
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
  </div>

  <div class="col-sm-6">
    <%= f.label :avatar, 'Upload Image'%><br/>
    <%= f.label :avatar do %>
      <%= f.file_field :avatar, class: 'form-control' %>
      <%= f.hidden_field :avatar_cache%>
    <% end %>
  </div>

  <div class="col-sm-12">
    <%= f.button "Sign up", type: 'submit', class: 'btn btn-default' %>
  </div>
<% end %>
<div class="col-sm-12">
  <%= render "devise/shared/links" %>
</div>
