<% if obj.present? %>
  <div class="col-sm-12">
    <h3>Package Detail:</h3>
    <dl class="dl-horizontal margin-t-sm margin-b-sm">
      <dt>Tracking Number</dt>
      <dd><%= @package.tracking_number %></dd>
      <dt>Name</dt>
      <dd><%= @package.name %></dd>
      <dt>Description</dt>
      <dd><%= @package.description %></dd>
      <dt>Source</dt>
      <dd><%= @package.source %></dd>
      <dt>Destination</dt>
      <dd><%= @package.destination %></dd>
    </dl>
    <h3>Shipping Status</h3>
    <div id="trackings-wraper" class="margin-t-sm">
      <%= render partial: 'packages/list_trackings', locals: { obj: @package.package_trackings } %>
    </div>
  </div>
<% end %>
<div class="col-sm-12">
  <h5 class=" text-warning"><%= @msg %></h5>
</div>
