<div class="col-sm-12">
  <h3>Search your package</h3>
</div>

<%= form_tag track_package_path, method: :get, remote: true do %>
  <div class="form-group ">
    <div class="col-md-12">
      <%= text_field_tag :search_param, params[:search_param],
                         placeholder: "Tracking Number",
                         autofocus:   true,
                         class:       'form-control' %>
    </div>
    <div class="col-md-12 margin-t-sm">
      <%= button_tag(type: :submit, class: "btn btn-default") do %>
        Search
      <% end %>
    </div>
  </div>
<% end %>
<div id="shipping_statusses">
  <% if @package.present? %>
    <%= render partial: 'package_detail', locals: { obj: @package } %>
  <% end %>
</div>