<%= render 'shared/errors', obj: @package %>
<%= form_with(model: package, local: true) do |form| %>
  <div class="col-sm-6">
    <%= form.label :name, 'Name' %> <br>
    <%= form.text_field :name, class: 'form-control' %> <br>
  </div>
  <div class="col-sm-12">
    <%= form.label :description, 'Description' %> <br>
    <%= form.text_area :description, class: 'form-control' %> <br>
  </div>
  <div class="col-sm-6">
    <%= form.label :source, 'Source' %> <br>
    <%= form.text_field :source, class: 'form-control' %> <br>

  </div>
  <div class="col-sm-6">
    <%= form.label :destination, 'Destination' %> <br>
    <%= form.text_field :destination, class: 'form-control' %> <br>

  </div>

  <div class="col-sm-6 margin-t-sm">
    <%= form.button "Create Package", type: 'submit', class: 'btn btn-default' %>
  </div>
<% end %>
