<%= form_for(@package_tracking, :html => { class: 'form-horizontal', role: 'form' }) do |form| %>
  <%= form.label :description, 'Description' %> <br>
  <%= form.text_area :description, class: 'form-control' %> <br>
  <%= form.button "Add Status", type: 'submit', name: "id", value: @package.id, :class => 'btn btn-default' %>
<% end %>