<% if obj.present? %>
  <table class="table">
    <thead>
    <tr>
      <th>Email</th>
      <th>Fists Name</th>
      <th>Last Name</th>
      <th>Accepted</th>
      <th colspan="3">Action</th>
    </tr>
    </thead>

    <tbody>
    <% obj.each do |package| %>
      <tr>
        <td><%= package.name %></td>
        <td><%= package.description %></td>
        <td><%= package.source %></td>
        <td><%= package.destination  %></td>
        <td>
          <%= link_to 'Show', package %>
          <%= link_to 'Edit', edit_package_path(package) %>
          <%= link_to 'Destroy', package, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>