<% if obj.present? %>
<table class="table">
  <thead>
  <tr>
    <th>Date</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  <% obj.each do |status| %>
    <tr>
      <td><%= status.created_at.strftime('%d %b') %></td>
      <td><%= status.description %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<% end %>