<div class="col-sm-12">
  <h1>Editing Package</h1>
</div>
<%= render 'form', package: @package %>

<div class="col-sm-12 margin-t-sm">
  <%= link_to 'Show', @package %> |
  <%= link_to 'Back', packages_path %>
</div>

