<% flash.each do |key, value| %>
  <div class="alert-message text-warning"><%= content_tag :span, value, class: "flash #{key}" %></div>
<% end %>

<div class="col-sm-12"><h1>Packages</h1></div>
<div class="col-sm-12">
  <%= render partial: 'list', locals: {obj: @packages} %>
</div>
<div class="col-sm-12 margin-t-sm">
  <%= link_to 'New Package', new_package_path %>
</div>
