<% flash.each do |key, value| %>
  <div class="alert-message text-warning"><%= content_tag :span, value, class: "flash #{key}" %></div>
<% end %>

<div class="col-sm-12">
  <h3>Package Detail:</h3>
  <dl class="dl-horizontal margin-t-sm margin-b-sm">
    <dt>Tracking Number</dt>
    <dd><%= @package.tracking_number %></dd>
    <dt>Name</dt>
    <dd><%= @package.name %></dd>
    <dt>Description</dt>
    <dd><%= @package.description %></dd>
    <dt>Source</dt>
    <dd><%= @package.source %></dd>
    <dt>Destination</dt>
    <dd><%= @package.destination %></dd>
  </dl>
  <h3>Shipping Status</h3>
  <div id="trackings-wraper" class="margin-t-sm">
    <%= render partial: 'list_trackings', locals: { obj: @package.package_trackings } %>
  </div>
  <h3 class="margin-b-sm">Add New Status</h3>
  <%= render partial: 'form_tracking' %>
</div>
<div class="col-sm-12 margin-t-sm">
  <%= link_to 'Edit', edit_package_path(@package) %> |
  <%= link_to 'Back', packages_path %>
</div>
