<div class="col sm-12">
  <div class="login-wrapper">
    <h2>Log in</h2>
    <% flash.each do |key, value| %>
      <div class="alert-message text-warning"><%= content_tag :span, value, class: "flash #{key}" %></div>
    <% end %>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in", class: 'btn btn-default' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>

