<%= render 'shared/errors', obj: @invited_user %>
<%= form_with(model: invited_user, local: true) do |form| %>

  <div class="col-sm-6">
    <%= form.label :email, 'Email' %> <br>
    <%= form.email_field :email, class: 'form-control' %> <br>
  </div>
  <div class="col-sm-6">
    <%= form.label :first_name, 'First Name' %> <br>
    <%= form.text_field :first_name, class: 'form-control' %> <br>
  </div>
  <div class="col-sm-6">
    <%= form.label :last_name, 'Last Name' %> <br>
    <%= form.text_field :last_name, class: 'form-control' %> <br>
  </div>
  <div class="col-sm-6">
    <%= form.label :role, 'Role' %> <br>
    <% roles_array = User.roles.map { |key, index| [key == 'enduser' ? 'end-user' : key, index] } %>
    <%= form.select(:role, options_for_select(roles_array), {}, { class: 'form-control' }) %>
  </div>

  <div class="col-sm-12 margin-t-sm">
    <%= form.button "Invite User", type: 'submit', class: 'btn btn-default' %>
  </div>
<% end %>
