<% if obj.present? %>
  <table class="table">
    <thead>
    <tr>
      <th>Email</th>
      <th>Fists Name</th>
      <th>Last Name</th>
      <th>Accepted</th>
      <th colspan="3">Action</th>
    </tr>
    </thead>

    <tbody>
    <% obj.each do |invited_user| %>
      <tr>
        <td><%= invited_user.email %></td>
        <td><%= invited_user.first_name %></td>
        <td><%= invited_user.last_name %></td>
        <td><%= invited_user.status ? '<span class="text-success">Acceppted</span>'.html_safe : '<span class="text-warning">Invited</span>'.html_safe %></td>
        <td>
          <%= link_to 'Show', invited_user %>
          <%= link_to 'Edit', edit_invited_user_path(invited_user) %>
          <%= link_to 'Destroy', invited_user, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>