<p id="notice"><%= notice %></p>
<div class="col-sm-12 margin-b-sm">
  <h1>Invited Users</h1>
</div>
<div class="col-sm-12">
  <%= render partial: 'list', locals: { obj: @invited_users } %>
</div>
<br>
<div class="col-sm-12 margin-t-sm">
  <%= link_to 'New Invited User', new_invited_user_path %>
</div>