<% flash.each do |key, value| %>
  <div class="alert-message text-warning"><%= content_tag :span, value, class: "flash #{key}" %></div>
<% end %>



<%= link_to 'Edit', edit_invited_user_path(@invited_user) %> |
<%= link_to 'Back', invited_users_path %>
