@import "bootstrap-sprockets";
@import "bootstrap";

.margin-t {
    &-sm {
        margin-top: 15px;
    }
    &-lg {
        margin-top: 30px;
    }
    &-c{
        margin-top: 25px;
    }
}

.margin-b {
    &-sm {
        margin-bottom: 15px;
    }
    &-lg {
        margin-bottom: 30px;
    }
}

.padding-t {
    &-sm {
        margin-top: 15px;
    }
    &-lg {
        margin-top: 30px;
    }
}

.padding-b {
    &-sm {
        margin-bottom: 15px;
    }
    &-lg {
        margin-bottom: 30px;
    }
}

.login-wrapper {
    width: 200px;
    margin: 0 auto;
    margin-top: 100px;
}


.caption div {
    box-shadow: 0 0 5px #C8C8C8;
    transition: all 0.3s ease 0s;
}
.img-circle {
    border-radius: 50%;
}
.img-circle {
    border-radius: 0;
}

.ratio {
    float: right;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 70px;
    height: 70px !important;
    margin: 10px;
}
.img-circle {
    border-radius: 50%;
}
.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}
