<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hello <%= @user.email %></h1>
<p>
  New package created:
</p>
<dl class="dl-horizontal margin-t-sm margin-b-sm">
  <dt>Tracking Number</dt>
  <dd><%= @package.tracking_number %></dd>
  <dt>Name</dt>
  <dd><%= @package.name %></dd>
  <dt>Description</dt>
  <dd><%= @package.description %></dd>
  <dt>Source</dt>
  <dd><%= @package.source %></dd>
  <dt>Destination</dt>
  <dd><%= @package.destination %></dd>
</dl>
</body>
</html>