<!DOCTYPE html>
<html>
<head>
  <title>GlobalIndustry</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div class="container-fluid">
  <div class="row">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand margin-t-sm" href="<%= root_path %>">Global Industry</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav margin-t-sm">
            <% if current_user.admin? || current_user.packager? %>
              <li class="<%= is_active_tab('packages') %>">
                <a href="<%= packages_path %>">Packages <span class="sr-only">(current)</span></a></li>
            <% end %>
            <% if current_user.admin? %>
              <li class="<%= active_class(root_path) %><%= is_active_tab('invited_users') %>">
                <a href="<%= invited_users_path %>">Invited Users</a>
              </li>
            <% end %>

            <li class="<%= active_class(track_package_path) %>"><a href="<%= track_package_path %>">Track Package</a>
            </li>
          </ul>
          <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'btn btn-default pull-right margin-t-c') %>
          <% if current_user.avatar.present? %>
            <div class="ratio img-responsive img-circle" style="background-image: url(<%= current_user.avatar %>);"></div>
          <% else %>
            <div class="ratio img-responsive img-circle" style="background-image: url(<%= '../userprofile.png' %>);"></div>
        <% end %>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div>
</div>
<div class="container">
  <div class="row">
    <%= yield %>
  </div>
</div>
</body>
</html>
